@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&display=swap');
body {
    font-family: 'League Spartan', sans-serif;
    background: rgba(0, 0, 0, 0.7) url("pexels-fauxels-3183198.jpg");
    background-size: cover;
    background-blend-mode: darken;
}
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background: transparent;
    margin-left: 55%;
    font-size: 20px;
    margin-top: -8%;
}
li {
    float: left;
}
li a {
    text-decoration: none;
    display: block;
    padding: 14px 19px;
    text-align: center;
    color: white;
    padding-left: 59px;
}
img {
    margin-left: 53px;
    margin-top: 20px;
}
.text{
    color: white;
    margin-top: 10%;
    text-align: center;
    font-size: xx-large;
    font-weight: lighter;
    padding: 10px;
    width: 900px;
    margin-left: 15%;
    
}